[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
pymysql = "*"
djangorestframework = "*"
pytest-watch = "*"

[dev-packages]
pytest = "*"
pytest-django = "*"
locust = "*"

[requires]
python_version = "3.11"
